

Body {
    margin: 0px auto;
    /* width: 1280px; */
    background-color: #000000;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

header img {
    width: 100%;
    object-fit: cover;
}

h1 {
    font-family: r;
    font-size: 50px;
    text-align: center;
    margin: 7px 0px;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.text p {
    font-size: 16px;
    font-weight: 300;
}

.description {
    display: flex;
    justify-content: space-evenly;
    margin: 45px auto;
    width: 1280px;
} /*  se asegura que cualquier elemento flotante dentro de la clase desc
ription se alinee correctamente y no cause problemas de colapso de floats */

    .description::after {
       
        content: "";
        display: table;
        clear: both;
    }
    


.text {
    width: 475px;
    display: flex;
    align-items: center;
}

.imgOne {
    width: 399px;
}

.features {
    background-color: #1E1A13;
    padding: 50px 0px;
}

.fa-solid {
    font-size: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    width: 1280px;
}

.icons div {
    width: 20%;
    margin: 25px;
}

.icons div p {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.imgSection {
    padding: 73px 0px;
    display: flex;
    justify-content: center;
}

.imgSection img {
    width: 316px;
    height: 202px;
    margin: 8px;
    object-fit: cover;
}

footer {
    padding: 30px 0px;
    background-color:  #1E1A13;
}

footer p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}
